form{
    padding: 10px 40px;

        input[name=receive]{
            width: 100px;
        }
        input[name=employer]{
            width: 550px;
        }
        input[name=date]{
            width: 150px;
        }
        input[name=value]{
            width: 150px;
        }
        input[name=valueIVA]{
            width: 150px;
        }
        input[name=valueIRS]{
            width: 150px;
        }




}