form {
  padding: 20px 0;

  input[name="receive"] {
    width: 95px;
  }
  input[name="employer"] {
    width: 150px;
  }
  input[name="date"] {
    width: 95;
  }
  input[name="value"] {
    width: 80px;
  }
  input[id="addLine"] {
    width: 60px;
  }
}
