html {
  height: 100px;
}

img, video {
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#paperContainer {
  max-width: 595px;
  margin: 0 auto;
}

.topLine {
  display: grid;
  grid-template-columns: 70px 245px 80px 70px 70px 60px;
  padding: 20px 0 0 0;
  font-weight: bold;
  font-size: 14px;
}

.topLine p {
  text-align: center;
}

#receivesContainer div {
  display: grid;
  grid-template-columns: 70px 245px 80px 70px 70px 60px;
}

#receivesContainer div p {
  text-align: center;
}

#receivesContainer div p.client {
  text-align: left;
}

.baseline {
  display: grid;
  grid-template-columns: auto 70px 70px 60px;
  padding: 20px 0 0 0;
  font-weight: bold;
  font-size: 14px;
}

.baseline p {
  text-align: center;
}

form {
  padding: 20px 0;
}

form input[name="receive"] {
  width: 95px;
}

form input[name="employer"] {
  width: 150px;
}

form input[name="date"] {
  width: 95;
}

form input[name="value"] {
  width: 80px;
}

form input[id="addLine"] {
  width: 60px;
}

.monthShift {
  width: 90%;
  padding-left: 40px;
}

.monthShift hr {
  border-top: 2px solid;
}

@media print {
  form {
    display: none;
  }
}
